<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/用户管理.css">
</head>

<body>
    <div class="manage-left">
        <div class="l-head">
            <a href="./index.html">江彬</a>
        </div>
        <div class="user">
            <a href="javascript:void();">
                <img src="./images/default.png" alt="">
                <span>超级管理员</span>
            </a>
        </div>
        <div class="l-main">
            <ul>
                <li class="active">
                    <a href="./用户管理.html">
                        <i class="glyphicon glyphicon-user"></i>用户管理
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="glyphicon glyphicon-list"></i>分类管理
                    </a>
                    <ol>
                        <li>
                            <a href="./first.html">一级分类</a>
                        </li>
                        <li>
                            <a href="./second.html">二级分类</a>
                        </li>
                    </ol>
                </li>
                <li>
                    <a href="./商品管理.html">
                        <i class="glyphicon glyphicon-tags"></i>商品管理
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="manage-right">
        <div class="r-head">
            <a class="glyphicon glyphicon-sunglasses pull-left" href="#"></a>
            <a class="glyphicon glyphicon-log-out pull-right" data-toggle="modal" data-target=".bs-example-modal-sm" href="#"></a>
        </div>
        <div class="r-body">
            <ol class="breadcrumb">
                <li>
                    <a href="#" class="">管理系统</a>
                </li>
                <li>
                    <a href="#">用户管理</a>
                </li>
            </ol>
            <table class="table table-bordered text-center table-hover">
                <thead>
                    <tr>
                        <th class="text-center" width="10%">序号</th>
                        <th class="text-center" width="30%">用户名</th>
                        <th class="text-center" width="30%">手机号</th>
                        <th class="text-center" width="20%">状态</th>
                        <th class="text-center" width="10%">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">1</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>
                            <a data-id="1" data-name="itcast" href="javascript:;" class="btn btn-danger">禁用</a>
                    </tr>
                </tbody>
            </table>
            <ul id="pagintor"></ul>
        </div>
    </div>
    <div class="modal-sure">
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">温馨提示</h4>
                    </div>
                    <div class="modal-body text-danger">

                        <p>
                            <i class="glyphicon glyphicon-info-sign"></i>您确定要退出吗？</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary ">确定</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
    <script type="text/html" id="user">
        {{each rows}}
        <tr>
            <td>{{(page-1)*size+1+$index}}</td>
            <td>{{$value.username}}</td>
            <td>{{$value.mobile}}</td>
            <td>
                {{if $value.isDelete==1}} 已禁用 {{else}} 正常 {{/if}}
            </td>
            <td data-id="{{$value.id}}">
                {{if $value.isDelete==0}}
                <button class="btn btn-danger">禁用</button>
                {{else}}
                <button class="btn btn-primary">启用</button>
                {{/if}}
        </tr>

        {{/each}}
    </script>
    <script src="./lib/jquery/jquery.min.js"></script>
    <script src="./lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="./lib/artTemplate/template.js"></script>
    <script  src="./lib/bootstrap-paginator/bootstrap-paginator.min.js"></script>
    <script src="./lib/echarts/echarts.min.js"></script>
    <script src="./js/用户管理.js"></script>
</body>

</html>